body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}
input {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #0056b3;
}
.resultBox {
    margin-top: 20px;
    max-width: 80%;
    word-wrap: break-word;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}
.resultLabel {
    margin-top: 15px;
    text-align: center;
}
.externalLink {
    margin-top: 20px;
    text-align: center;
}